@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 200px;
}

.toggle {
  visibility: hidden;
}

.label {
  display: inline-block;
  cursor: pointer;
  background-color: #d0d0d0;
  border-radius: 50px;
  width: 80px;
  height: 40px;
  position: relative;
  margin: 0 15px 0;
  transition: all .3s ease;
}

.toggle:checked + .label{
  background-color: #8e44ad;
}

.ball {
  background-color: #fff;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  lefT: 4px;
  transition: all .3s ease;
}

.toggle:checked +.label > .ball {
  left:unset;
  transform: translate(43px, -50%);
}