@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
:root {
  --blue:#3598DB;
  --gray: #E0E0E0; 
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container{
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
  max-width: 100%;
  min-width: 350px;

}
.progress-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  background-color: var(--gray);
  z-index: -1;
}

.progress {
  position: absolute;
  left: 0;
  top: 50%;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  background-color: var(--blue);
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  color: #999;
  background-color: #f6f7fb;
  border-radius: 50%;
  border: 3px solid var(--gray);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

.circle.active {
  border: 3px solid var(--blue);
}

.btn {
  background-color: var(--blue);
  font-size: 14px;
  font-family: inherit;
  color: white;
  cursor: pointer;
  border: 0px;
  padding: 8px 30px;
  margin: 5px;
  border-radius: 6px;
}

.btn:active{
  transform: scale(.98);
}

.btn:focus{
  outline: none;
}

.btn:disabled {
  background-color: var(--gray);
  cursor: not-allowed;
}