@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.key {
  border: 1px solid #bcbcbc;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  flex-direction: column;
  margin: 10px;
  border: 1px 1px 3px rgba(0,0,0,.1);
  min-width: 150px;
}

.key small {
  position: absolute;
  width: 100%;
  top: -24px;
  left: 0;
  text-align: center;
  font-size: 14px;
  color: #555;
}